.aboutArticle {
  display: flex;
  gap: 10px;
}

.general {
  display: flex;
  width: 100%;
  gap: 10px;
  justify-content: space-between;
}

.actions {
  position: relative;
}

.title {
  overflow: hidden;
}

@media screen and (max-width: 800px) {
  .aboutArticle {
    display: block;
  }

  .aboutArticle > div:not(:last-child) {
    margin-bottom: 10px;
  }
}
