.discord {
    border: none;
    background-color: #586aea;
    color: white;
    padding: 5px 10px;
    border-radius: 3px;
    transition: .3s;
}

.discord:hover {
    background-color: #99a4ff;
    cursor: pointer;
}