.gitHub {
  border: none;
  background-color: black;
  color: white;
  width: 175px;
  height: 30px;
  border-radius: 3px;
  transition: 0.3s;
}

.gitHub:hover {
  background-color: rgb(113, 113, 113);
  cursor: pointer;
}
