.signIn {
  width: 240px;
  word-wrap: break-word;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-right: -50%;
}

@media screen and (max-width: 800px) {
  .signIn {
    width: 100%;
    position: unset;
    top: unset;
    left: unset;
    transform: unset;
    margin-right: unset;
  }
}
