.header {
    background-color: white;
}

.elements {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1700px;
    padding: 15px 10px;
    margin: 0 auto;
}

.link {
    float: left;
}

.link:not(:last-child) {
    padding-right: 50px;
}