.discord {
  width: 100%;
  background-color: #586aea;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;
}

.discord:hover {
  background-color: #99a4ff;
}

.label {
  color: white;
}
