.article {
  display: flex;
  justify-content: space-between;
}

.aboutArticle {
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.title {
  white-space: nowrap;
}

.aboutLastWriter {
  white-space: nowrap;
}

@media screen and (max-width: 600px) {
  .article {
    display: block;
    justify-content: unset;
  }

  .article > *:not(:last-child) {
    margin-bottom: 10px;
  }

  .aboutLastWriter {
    all: unset;
  }
}
