.comments > div:not(:last-child) {
  margin-bottom: 10px;
}

.commentsList > .comment {
  background-color: white;
  border-radius: 9px;
  padding: 10px 10px;
}

.comment:not(:last-child) {
  margin-bottom: 15px;
}

.aboutWriter {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.aboutWriter > div {
  overflow: hidden;
}
