.member {
  display: flex;
  background-color: white;
  padding: 10px 10px;
  border-radius: 9px;
}

.about {
  margin-left: 10px;
  overflow-x: hidden;
  word-wrap: break-word;
}

.counters {
  display: flex;
}
