.member {
  display: flex;
  justify-content: space-between;
}

.info {
  display: flex;
}

.about {
  margin-left: 10px;
  overflow-x: hidden;
  word-wrap: break-word;
}

.counters {
  display: flex;
}
