.article {
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-radius: 9px;
  padding: 10px 10px;
}

.article:not(:last-child) {
  margin-bottom: 15px;
}

.aboutArticle {
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.title {
  white-space: nowrap;
}

.aboutLastWriter {
  white-space: nowrap;
}

@media screen and (max-width: 600px) {
  .article {
    display: block;
  }

  .article > div:not(:last-child) {
    margin-bottom: 15px;
  }

  .aboutLastWriter {
    all: unset;
  }
}
